
:root{
  --primary: #EB5160;
  --secondary: #B7999C;
  --tertiary: #AAAAAA;
  --light: #DFE0E2;
  --dark: #071013;
};

div header div header nav{
  background-color: var(--secondary);
}

div main{
  background-color: var(--tertiary);
}

div footer{
  background-color: var(--secondary);
}